<div ng-controller="sidebarCtrl as vm">
	<table class="table table-default">
		<h2>Cellular Automation</h2>
		<thead>
			<th>Controls</th><th></th>
		</thead>
		<tbody>
			<tr>
				<td>
					<form ng-submit="vm.play()">
						<button type="submit" class="btn btn-default">{{ vm.runText }}</button>
					</form>
				</td><td></td>
			</tr>
			<tr>
				<td>
					<form ng-submit="vm.edit()">
						<button type="submit" class="btn btn-default">Edit</button>
					</form>
				</td><td></td>
			</tr>
			<tr>
				<td>
					<form ng-submit="vm.random()">
						<button type="submit" class="btn btn-default">Randomize</button>
					</form>
				</td>
				<td>
					<label class="pull-left">More Dead</label><label class="pull-right">More Live</label>
					<input type="range" min="1" max="99" value="25" class="slider" ng-model="vm.ratio" ng-change="vm.setRatio()">
				</td>
			</tr>
			<tr>
				<td>
					<form ng-submit="vm.clear()">
						<button type="submit" class="btn btn-default">Clear</button>
					</form>
				</td><td></td>
			</tr>
			<tr>
				<td>
					Wrap:
				</td> 
				<td>
					<input class="checkbox" type="checkbox" ng-model="vm.wrap" ng-init="checked=true" ng-change="vm.setWrap()">
				</td>
			</tr>			
		</tbody>
	</table>
	<table class="table">
		<thead>
			<th style="max-width:5em;">Neighbor Count</th><th>Birth</th><th>Survive</th>
		</thead>
		<tbody>
			<tr ng-repeat="n in vm.neighbors track by $index">
				<td align="center" style="max-width:5em;">{{ this.$index }}</td>
				<td><input type="checkbox" align="center" ng-model="vm.neighbors[this.$index]['birth']" 
					ng-change="vm.updateRules()" ng-checked="this.$index == 3"></td>
				<td><input type="checkbox" align="center" ng-model="vm.neighbors[this.$index]['survive']" 
					ng-change="vm.updateRules()" ng-checked="(this.$index == 2) || (this.$index == 3)"><td/>
			</tr>
		</tbody>
	</table>
</div>