body {
	/*background-color: #005*/
}

.alive {
	background-color: black;
	/*color: black;*/
}

.dead {
	background-color: white;
	/*color: white;*/
}


.cell {
	height: 6px;
	width: 6px;
}

td {
	/*border: 1px solid #EEE;*/

}

.edit {
	border: 0.25px solid #EEE;
}

.edit:hover {
	cursor: pointer;
	background-color: #DDF
}